:root {
  --bg: #202F42;
  --white: #fff;

  --rose: #E439A3;
  --yellow: #F1E519;

  --bg2: #2D3F56;
  --card: #1c293a;

  --container: 1320;
  --padding: 24;

  --font: 'Manrope', sans-serif;
  --font-title: 'Montserrat Alternates', sans-serif;
  --font-title-2: 'Montserrat Subrayada', sans-serif;
  --font-n: 'NauryzRedKeds', sans-serif;
}

$container: 1320;
$padding: 24;